.container {
  $radius: var(--radius);
  display: flex;
  flex-direction: row;
  align-items: start;

  width: 100%;

  margin-bottom: var(--spacing);

  &.user {
    // override flex direction for user input
    flex-direction: row-reverse;

    // override textbox for user input
    .text {
      background-color: #a1d6b2;
      border-radius: $radius 0 0 $radius;
    }
  }

  .text {
    width: 80%;

    padding: var(--spacing);
    border-radius: $radius 0 $radius $radius;

    background-color: #e0f4ff;
  }

  .avatar {
    width: 20%;
    aspect-ratio: 1/1;

    // box-sizing: border-box;
    // border: 1px solid;
    border-radius: 0 $radius $radius 0;

    background-color: #fefae0;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
