<div class="container">
  <div class="card">
    <div class="header">
      <mat-icon fontIcon="chat_bubble"></mat-icon>
      Chat - Echo Bot
    </div>
    <div class="body">
      <app-message></app-message>
    </div>
    <div class="footer">
      <form [formGroup]="textForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          formControlName="message"
          placeholder="Write your response"
        />
        <button type="submit" [disabled]="!textForm.valid">Send</button>
      </form>
    </div>
  </div>
</div>
