<div class="container">
  <div class="card">
    <div class="header">
      <mat-icon fontIcon="chat_bubble"></mat-icon>
      Chat - Echo Bot
    </div>
    <div class="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eos et
      temporibus beatae qui molestiae perferendis laudantium accusamus ab nulla,
      sed incidunt iusto saepe possimus labore velit! Tempore, sequi
      praesentium. Laudantium sequi soluta, ab totam vel impedit! Architecto,
      laboriosam! Dolor sit voluptatibus ratione tempore repellendus, mollitia
      autem laudantium nobis aperiam. Beatae maiores dolore, excepturi
      repudiandae eos inventore quibusdam officiis sit! Porro quisquam quasi
      tempora nemo nulla dolore velit laborum, debitis quos alias, tempore ex
      consequatur officiis accusamus labore eius quas reprehenderit est
      doloribus aut, minus culpa? Voluptatibus a quo tempore.
    </div>
    <div class="footer">
      <input type="text" placeholder="Write your response" />
      <button>Send</button>
    </div>
  </div>
</div>
