.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10%;
  background-color: #f8fafc;

  span {
    margin-left: 5px;
    color: #9aa6b2;
    font-weight: 600;
    font-size: 1.5rem;
  }

  button {
    $base-color: var(--button-primary-color);
    $second-color: var(--button-secondary-color);

    height: 50px;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $base-color;

    border: none;
    border-radius: 5px;

    color: $second-color;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    margin-right: 5px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $second-color;
      border-radius: 50%;
      width: 30px;
      height: 30px;

      color: $base-color;
      font-size: 0.8rem;
    }
  }
}
